<html>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <style>
        body {
          font-family: "Lato", sans-serif;
        }
        a:link {
          color: green;
          background-color: transparent;
          text-decoration: none;
        }
        a:visited {
          color: rgba(212, 211, 211, 0.603);
          background-color: transparent;
          text-decoration: none;
        }
        a:hover {
          color: red;
          background-color: transparent;
          text-decoration: underline;
        }
        a:active {
          color: yellow;
          background-color: transparent;
          text-decoration: underline;
        }

        .sidenav {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #111;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
          text-align: center;
        }

        .sidenav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #ecc6b7;
          display: block;
          transition: 0.3s;
        }

        .sidenav a:hover {
          color: #e98e8e;
        }

        .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
        }

        @media screen and (max-height: 450px) {
          .sidenav {
            padding-top: 15px;
          }
          .sidenav a {
            font-size: 18px;
          }
        }
      </style>

      <!-- Bootstrap CSS -->
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
      />

      <title>Hello, world!</title>
    </head>
    <body class="p-1 mb-2 bg-secondary text-black-50">
      <div class="d-block bg-light">
        <div class="mx-auto container" style="width: 200px">
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
              >&times;</a
            >
            <a href="CHEST.HTML">CHEST</a>
            <a href="SHOULDERS.HTML">SHOULDERS</a>
            <a href="ABBS.HTML">ABBS</a>
            <a href="BICEPS.HTML">BICEPS</a>
            <a href="BACK.HTML">BACK</a>
            <a href="LEGS.HTML">LEGS</a>
            <a href="TRICEPS.HTML">TRICEPS</a>
          </div>
          <span
            align="center"
            style="font-size: 40px; cursor: pointer"
            onclick="openNav()"
          >
            EXERCISES</span
          >
        </div>
      </div>

      <h1 align="center" style="font-size: 35px">TRICEPS</h1>

      <div class="container" align="center">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="../assets/IMG/EXERCISE/triceps/Barbell skull crusher.gif"
              width="100%"
              height="auto"
            />
            <h2 align="center">Barbell skull crusher</h2>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <ul>
              <li><strong>Target muscle:</strong> Triceps Brachii</li>
              <li><strong>Synergists:</strong> None</li>
              <li><strong>Mechanics:</strong> Isolation</li>
              <li><strong>Force:</strong> Push</li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="container" align="center">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="../assets/IMG/EXERCISE/triceps/Bent-knee bench dip.gif"
              width="100%"
              height="auto"
            />
            <h2 align="center">Bent Knee Bench Dip</h2>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <ul>
              <li><strong>Target muscle:</strong> Triceps Brachii</li>
              <li>
                <strong>Synergists:</strong> Anterior Deltoid, Upper and Lower
                Pectoralis Major, Pectoralis Minor, Rhomboids, Levator Scapulae,
                Latissimus Dorsi
              </li>
              <li>
                <strong>Dynamic stabilizer (not highlighted):</strong> Biceps
                Brachii
              </li>
              <li><strong>Mechanics:</strong> Compound</li>
              <li><strong>Force:</strong> Push</li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="container" align="center">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="../assets/IMG/EXERCISE/triceps/Dumbbell One-Arm Triceps Extension.gif"
              width="100%"
              height="auto"
            />
            <h2 align="center">Dumbbell One Arm Triceps Extension</h2>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <ul>
              <li><strong>Target muscle:</strong> Triceps Brachii</li>
              <li>
                <strong>Synergists:</strong> Anterior Deltoid, Upper and Lower
                Pectoralis Major, Pectoralis Minor, Rhomboids, Levator Scapulae,
                Latissimus Dorsi
              </li>
              <li>
                <strong>Dynamic stabilizer (not highlighted):</strong> Biceps
                Brachii
              </li>
              <li><strong>Mechanics:</strong> Compound</li>
              <li><strong>Force:</strong> Push</li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="container" align="center">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="../assets/IMG/EXERCISE/triceps/dumbbell row kickback.gif"
              width="100%"
              height="auto"
            />
            <h2 align="center">Dumbbell Row Kickback</h2>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <ul>
              <li><strong>Target muscle:</strong> Triceps Brachii</li>
              <li><strong>Synergists:</strong> None</li>
              <li>
                <strong>Stabilizers</strong> (not highlighted): Posterior
                Deltoid, Latissimus Dorsi, Middle and Lower Trapezius,
                Rhomboids, Extensor Carpi Ulnaris, Flexor Carpi Ulnaris
              </li>
              <li><strong>Mechanics:</strong> Isolation</li>
              <li><strong>Force:</strong> Push</li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="container" align="center">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="../assets/IMG/EXERCISE/triceps/hyperbench rope pushdown.gif"
              width="100%"
              height="auto"
            />
            <h2 align="center">Hyperbench Rope Pushdown</h2>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <ul>
              <li><strong>Target muscle:</strong> Triceps Brachii</li>
              <li><strong>Synergists:</strong> None</li>
              <li><strong>Mechanics:</strong> Isolation</li>
              <li><strong>Force:</strong> Push</li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="container" align="center">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="../assets/IMG/EXERCISE/triceps/Reverse Grip Triceps Pushdown.gif"
              width="100%"
              height="auto"
            />
            <h2 align="center">Reverse Grip Triceps Pushdown</h2>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <ul>
              <li><strong>Target muscle:</strong> Triceps Brachii</li>
              <li><strong>Synergists:</strong> None</li>
              <li><strong>Mechanics:</strong> Isolation</li>
              <li><strong>Force:</strong> Push</li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="container" align="center">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="../assets/IMG/EXERCISE/triceps/Seated dumbbell overhead triceps extension.gif"
              width="100%"
              height="auto"
            />
            <h2 align="center">Seated Dumbbell Overhead Triceps</h2>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <ul>
              <li><strong>Target muscle:</strong> Triceps Brachii</li>
              <li><strong>Synergists:</strong> None</li>
              <li><strong>Mechanics:</strong> Isolation</li>
              <li><strong>Force:</strong> Push</li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="container" align="center">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="../assets/IMG/EXERCISE/triceps/Triceps dip.gif"
              width="100%"
              height="auto"
            />
            <h2 align="center">Triceps Dip</h2>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <ul>
              <li><strong>Target muscle:</strong> Triceps Brachii</li>
              <li><strong>Synergists:</strong> None</li>
              <li><strong>Mechanics:</strong> Isolation</li>
              <li><strong>Force:</strong> Push</li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="container" align="center">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="../assets/IMG/EXERCISE/triceps/v bar push down.gif"
              width="100%"
              height="auto"
            />
            <h2 align="center">V Bar Push Down</h2>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <ul>
              <li><strong>Target muscle:</strong> Triceps Brachii</li>
              <li><strong>Synergists:</strong> None</li>
              <li><strong>Mechanics:</strong> Isolation</li>
              <li><strong>Force:</strong> Push</li>
            </ul>
          </ul>
        </div>
      </div>

      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
      ></script>

      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "60%";
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
      </script>
    </body>
  </html>
</html>
